* {
    margin: 0;
    padding: 0;

}

header {
    margin: 0 auto;
}

.first-block{
    background-image: url("../img/BG1.2.jpg");
    height: auto;

}
.first-block__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.title-logo {
    display: flex;
    align-items: center;
    padding: 10px;
}
.title-logo__img{
    width: 100px;
    height: 100px;
    color: white;
}
.title-logo__text {
    font-style: italic;
    font-size: 200%;
    color: black;
    padding-left: 10px;
}
.title-menu{
    display: flex;
    color: black;
}
.title-menu__row1{
    display: flex;
}
.title-menu__row2{
    display: flex;
}
.title-menu__item{
    text-decoration: none;
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 120%;
    display: flex;
    padding: 20px;
    white-space: pre;
}
.first-block__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
}
.first-block__head{
    border-bottom: 1px solid black ;
}
.first-block__text {
    display: flex;
    justify-content: center;
    width: 50%;
}
.first-block__swipe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px auto;
}
.swipe-item {
    margin: 5px;
    border: 1px solid black;
}
main{
    margin: 0 auto;
}

.content-head{
    font-style: oblique;
    color: black;
    padding: 30px;

}
.head-text{
    padding: 20px;
    border-bottom: 1px solid black;
}
.content-text{
    font-style: oblique;
    font-size: 130%;
    text-align: center;
    color: black;
    padding: 30px;
}
.button{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10%;
    margin: 20px;
    transition: transform 1s;
}
.link{
    text-decoration: none;
    color: black;
}

.second-block{
    display: flex;
    background: white;
    height: auto;
}
.second-block__image{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    height: 300px;
    width: 300px;
}
.second-block__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-block__head{
    text-align: center;
}
.second-block__button{
    width: 100px;
    text-align: center;
}

.third-block{
    background-image: url("../img/BG2.jpg");
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.third-block__watch{
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;

}

.four-block__head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four-block__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.four-block__row1{
    display: flex;
    justify-content: center;
}
.four-block__frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 40px;
}
.frame-img{
    width: 100px;
    height: 100px;
    align-items: center;
}
.frame-head{
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
}
.frame-text{
    text-align: center;
}
.four-block__row2{
    display: flex;
    justify-content: center;
}

.five-block{
    background-image: url("../img/BG3.jpg");
    height: auto;
}
.five-block__head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.five-block__content{
    display: flex;
    justify-content: center;
}
.content-person{
    border: 2px solid black;
    width: 150px;
    text-align: center;
    margin: 40px;
    padding: 40px;
}
.person-img{
    width: 100px;
    height: 100px;
}
.person-head{
    font-weight: bolder;
}
.person-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.five-block__foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-text{
    font-weight: bolder;
}
.five-block__button{
    width: 150px;
    text-align: center;
}

.six-block__head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.six-block__content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.six-block__frame{
    height: 200px;
    width: 300px;
}
.six-block__button{
    width: 100px;
}

.seven-block{
    background-image: url("../img/BG4.png");
    background-size: cover;
    height: 1000px;
}
.seven-block__head{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.seven-block__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seven-block__text{
    width: 850px;
}
.person-info{
    align-items: center;
    text-align: center;
}
.person-name{
    font-weight: bolder;
}
.person-position{
    align-items: center;
}

.title-menu__item:hover{
    color: white;
}
.button:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 850px) {
    html {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .first-block {
        height: auto;
        background-image: url("../img/BG1.2.1 - phone.jpg");
        background-size: cover;
    }
    .first-block__title {
        flex-direction: column;
    }
    .title-logo {
        flex-direction: column;
    }
    .title-menu {
        flex-direction: column;
    }
    .title-menu__item {
        padding: 15px;
    }
    .second-block {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .third-block__watch {
        width: 300px;
    }
    .four-block__content {
        align-items: center;
    }
    .four-block__row1 {
        flex-direction: column;
    }
    .four-block__row2 {
        flex-direction: column;
    }
    .five-block {
        background-image: url("../img/BG3.1 - phone.jpg");
        background-size: cover;

    }
    .five-block__content {
        flex-direction: column;
        align-items: center;
    }
    .six-block__frame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
