*{
    margin: 0px;
    padding: 0px;
    /*position: relative;*/
}
header{
    display: flex;

}
.header-item1{
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    left: 25%;
}
.header-item2{
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    left: 60%;
    z-index: 1;
}
.header-item3{
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    left: 70%;
}
.declaration{
    display: flex;
    position: absolute;
    top: 85%;
    left: 27%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.photo-phone{
    margin-top: 5%;
    /*display: flex;*/
    /*position: absolute;*/
    /*top: 40%;*/
}
.photo-phone1{

    font-family: Arial, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: gray;
    margin: 30px;
}
h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    border-bottom: 1px solid blue;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 3%;
}
.skidka{
    display: flex;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.41);
    position: absolute;
    top: 15%;
    left: 29%;
    z-index: 1;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.display{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 25%;
    /*display: inline-block;*/
    margin-left: 30%;
    margin-right: 35%;
}
.memory{

    display: flex;
    position: absolute;
    top: 45%;
    left: 20%;
    flex-direction: column;
    /*display: inline-block;*/
    margin-left: 30%;
    margin-right: 35%;
}

.about{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 25%;
    /*display: flex;*/
    /*position: absolute;*/
}
.about1{
    border-bottom: 1px solid black;
}
.about2{
    margin-top: 10px;
}


main{

    margin-top: 40px ;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
}
h3{
    border-bottom: 1px solid gray;
}
.more{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 5%;
}
.characters{
    display: block;
    margin-top: 10px;
    margin-left: 25%;
    list-style: none;
}